<app-header></app-header>
<header>
  <img src="src/assets/img/user_bg.jpg" alt="Sea">

<!--  <div class="titles">-->
<!--    <h1>Hello! <span>I'm Roma</span></h1>-->
<!--    <h2>I love to travel all around the world and design beautiful things</h2>-->
<!--  </div>-->

</header>
<section class="instagram-wrap">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="instagram-content">
          <h3>Latest Photos</h3>
          <publication></publication>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
