<app-header></app-header>
<header style="margin-top: 95px;background-image: url(../../../../../assets/img/userBg.jpg);">
  <div class="user__content container-fluid">
    <div class="row align-items-center" style="height: 330px">
      <div class="col-md-4 text-right">
        <img class="rounded-circle" src="src/assets/img/avataaars.svg" width="40%">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-8" style="padding-top: 7px">
            <div class="row">
              <div class="col-12">
                <span style="font-size:33px;color: black">Roman Shalabodov</span>
              </div>
              <div class="col-12">
                <button type="button" class="btn btn-primary" style="background-color: white;color: black;" data-toggle="button" aria-pressed="false"
                        autocomplete="false">
                  Subscribers
                </button>
                <button type="button" class="btn btn-primary" style="background-color: white;margin-left: 10px;color: black;" data-toggle="button" aria-pressed="false"
                        autocomplete="false">
                  Subscriptions
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="instagram-wrap">
  <div class="container">
    <div class="row">
      <div style="width: 100%">
        <div class="instagram-content">
          <h3>Latest Photos</h3>
          <div class="nav-item"><button type="button" class="btn btn-link" (click)="openDialog()">
          Add
        </button>
            <button type="button" class="btn btn-link" (click)="openDialog()">
             <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="news">News</a>
            </button>
          </div>
          <div class="row photos-wrap" >
            <!-- Instafeed target div -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let post of posts">
              <publication
                           [description]=post.description
                           [tag]=post.tag>
              </publication>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
<app-add-post *ngIf="postService.showAddPost"></app-add-post>
