<app-header></app-header>
<header style="margin-top: 95px;background-image: url(../../../../../assets/img/userBg.jpg);">
  <div class="user__content container-fluid">
    <div class="row align-items-center" style="height: 330px">
      <div class="col-md-4 text-right">
        <img class="rounded-circle" src="src/assets/img/avataaars.svg" width="40%">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-8" style="padding-top: 7px">
            <div class="row">
              <div class="col-12">
                <span style="font-size:33px;color: black">{{name}}</span>
              </div>
              <div class="col-12" style="top: 10px">
                <button type="button" class="btn btn-primary" style="background-color: white;color: black;"
                        data-toggle="button" aria-pressed="false"
                        autocomplete="false">
                  Subscribers
                </button>
                <button type="button" class="btn btn-primary"
                        style="background-color: white;margin-left: 10px;color: black;" data-toggle="button"
                        aria-pressed="false"
                        autocomplete="false">
                  Subscriptions
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<section class="instagram-wrap">
  <div class="container">
    <div class="row">
      <div style="width: 100%">
        <div class="instagram-content">
          <h3>Latest Photos</h3>
          <div class="nav-item">
            <button type="button" class="btn btn-link" (click)="openDialog()">
              Add
            </button>
            <button type="button" class="btn btn-link">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="redirectToNews()">News</a>
            </button>
          </div>
          <div class="row photos-wrap">
            <!-- Instafeed target div -->
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let post of posts">
              <publication (click)="_openPostModal(templatePost)"
                           [id]=post.id
                           [tag]=post.tags
                           [description]=post.description
                           [countLike]=post.countLike
                           [image]="'api/post/getFile/'+ post.filename">
              </publication>

              <ng-template #templatePost class="modal-xl">
                <div class="modal-header">
                  <div class="col-md-4 text-right" style="margin-left: -25%">
                    <img class="rounded-circle" src="src/assets/img/avataaars.svg" width="15%">
                  </div>
                  <h4 class="modal-title pull-left" style="margin-top: 10px">{{name}}</h4>
                  <button type="button" class="btn btn-danger" style="margin-left: 20px" (click)="_deletePost(post.id)"
                          *ngIf="(post.userId==currentUser.id) || isAdmin">Delete post
                  </button>
                  <button type="button" class="close pull-right"
                          aria-label="Close" (click)="_closeModal()">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="display: contents">
                  <div class="row">
                    <div class="col-6">
                      <img src="api/post/getFile/{{post.filename}}">
                    </div>
                    <div class="col-6" style="left: -25px;">
                      <div *ngFor="let comment of post.uiComments">
                        <button type="button" class="btn btn-danger" style="margin-left: 20px"
                                (click)="_deleteComment(comment.id)"
                                *ngIf="(comment.uiUser.id == currentUser.id) || isAdmin">Delete comment
                        </button>
                        <comment-modal
                          [userName]=comment.uiUser.login
                          [content]=comment.content>
                        </comment-modal>
                      </div>

                      <div class="input-group mb-3" style="top: 10px;border-radius: 10px">
                        <input type="text" class="form-control" [(ngModel)]="content"
                               placeholder="Add a comment..." required/>
                        <div class="input-group-append">
                          <button class="btn btn-primary" type="button" (click)="addComment(content,post.id)">Send
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-1">
                      <div style="margin-left: 25px;margin-top: 10px;">{{post.countLike}}</div>
                    </div>
                    <div class="col-1" style="left: -67px;bottom: 15px;">
                      <button type="button" class="btn btn-link" style="width: 150%"
                              (click)="addLike(post.id)"><img src="src/assets/img/like.png"
                                                              style="width: 100%"></button>
                    </div>

                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="align-self-center mt-auto">
      <button type="button" class="btn btn-primary" style="background-color: white;color: black;margin-left: 41%"
              data-toggle="button" aria-pressed="false"
              autocomplete="false" (click)="nextPage()">Add more...
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
<app-add-post *ngIf="postService.showAddPost"></app-add-post>
