.prokrutka {
  height: 486px; /* высота нашего блока */
  width: 200px; /* ширина нашего блока */
  background: #fff; /* цвет фона, белый */
  border: 1px solid #C1C1C1; /* размер и цвет границы блока */
  overflow-x: scroll; /* прокрутка по горизонтали */
}
.btn-primary {
  border-color: #2c3e50;
  background-color: white;
  color: black;
  height: 81%;
}
