<div class="photo-box" style="border: 2px solid gray;">
  <div class="image-wrap">
    <button class="btn" style="display: contents">
      <img src="{{image}}">
    </button>
  </div>

  <div class="row">
    <div class="col-6">
      <button class="likes">{{countLike}} likes</button>
    </div>
  </div>

  <div class="description">
    <div class="tags" style="margin-bottom: 10px; color: #007bff">
      {{tag}}
    </div>
    {{description}}
  </div>
  <div class="date">{{timeCreation | date:format}}</div>
</div>


