<div class="cd-user-modal"> <!-- все формы на фоне затемнения-->
  <div class="cd-user-modal-container"> <!-- основной контейнер -->
    <ul class="cd-switcher">
      <li (click)="selectSection('login')"><a >Вход</a></li>
      <li (click)="selectSection('registration')"><a >Регистрация</a></li>
<!--      <li><button class="close" data-dismiss="modal" (click)="close()">×</button></li>-->
    </ul>

    <div id="cd-login" *ngIf="isLogin"> <!-- форма входа -->
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email">Login</label>
          <input type="text" class="form-control"
                 placeholder="Login" name="login"
                 [(ngModel)]="loginModel.login"/>

          <span class="cd-error-message">Здесь сообщение об ошибке!</span>
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" >Пароль</label>
          <input type="password" class="form-control"
                 placeholder="Password" name="password"
                 [(ngModel)]="loginModel.password"/>
          <a href="#0" class="hide-password">Скрыть</a>
          <span class="cd-error-message">Здесь сообщение об ошибке!</span>
        </p>

        <p class="fieldset">
          <input type="checkbox" id="remember-me" checked>
          <label for="remember-me">Запомнить меня</label>
        </p>

        <p class="fieldset">
          <input class="full-width" type="submit" value="Log in" (click)="onSubmit()">
        </p>
      </form>

      <p class="cd-form-bottom-message" (click)="selectSection('password')"><a href="#">Забыли свой пароль?</a></p>
      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div> <!-- cd-login -->

    <div id="cd-signup" *ngIf="isRegistration"> <!-- форма регистрации -->
      <form class="cd-form">
        <div class="form-group">
          <input class="form-control"
                 placeholder="Login"
                 [(ngModel)]="newUser.login" #login="ngModel" [ngModelOptions]="{standalone: true}" required/>
        </div>

        <div class="form-group">
          <input type="password" class="form-control"
                 placeholder="Password"
                 [(ngModel)]="newUser.password" #password="ngModel" [ngModelOptions]="{standalone: true}" required/>
        </div>

        <p class="fieldset">
          <input type="checkbox" id="accept-terms">
          <label for="accept-terms">Я согласен с <a href="#0">Условиями</a></label>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Создать аккаунт" (click)="addUser(login,password)">
        </p>
      </form>

      <!-- <a href="#0" class="cd-close-form">Close</a> -->
    </div> <!-- cd-signup -->

    <div id="cd-reset-password" *ngIf="forgotPass"> <!-- форма восстановления пароля -->
      <p class="cd-form-message">Забыли пароль? Пожалуйста, введите адрес своей электронной почты. Вы получите ссылку, чтобы создать новый пароль.</p>

      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email" for="reset-email">E-mail</label>
          <input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
          <span class="cd-error-message">Здесь сообщение об ошибке!</span>
        </p>

        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Восстановить пароль">
        </p>
      </form>

      <p class="cd-form-bottom-message"><a href="#0">Вернуться к входу</a></p>
    </div> <!-- cd-reset-password -->
    <a href="#0" class="cd-close-form">Закрыть</a>
  </div> <!-- cd-user-modal-container -->
</div> <!-- cd-user-modal -->
