<div class="cd-user-modal">
  <div class="cd-user-modal-container">
    <ul class="cd-switcher">
      <li (click)="selectSection('login')"><a >Enter</a></li>
      <li (click)="selectSection('registration')"><a >Registration</a></li>
    </ul>

    <div id="cd-login" *ngIf="isLogin">
      <form class="cd-form">
        <p class="fieldset">
          <label class="image-replace cd-email">Login</label>
          <input type="text" class="form-control"
                 placeholder="Login" name="login"
                 [(ngModel)]="loginModel.login" required/>
        </p>

        <p class="fieldset">
          <label class="image-replace cd-password" >Пароль</label>
          <input type="password" class="form-control"
                 placeholder="Password" name="password"
                 [(ngModel)]="loginModel.password" required/>
        </p>

        <p class="fieldset">
          <input class="full-width" type="submit" value="Log in" (click)="onSubmit()">
        </p>
        <div *ngIf="showCheckYourSetDataAlert" class="error">
          Invalid login or password!
        </div>
      </form>
    </div>

    <div id="cd-signup" *ngIf="isRegistration">
      <form class="cd-form">
        <div class="form-group">
          <input class="form-control"
                 placeholder="Login"
                 [(ngModel)]="newUser.login" #login="ngModel" [ngModelOptions]="{standalone: true}" required/>
        </div>

        <div class="form-group">
          <input type="password" class="form-control"
                 placeholder="Password"
                 [(ngModel)]="newUser.password" #password="ngModel" [ngModelOptions]="{standalone: true}" required/>
        </div>
        <p class="fieldset">
          <input class="full-width has-padding" type="submit" value="Create account" (click)="addUser(login,password)"
          [disabled]="login.invalid || password.invalid">
        </p>
      </form>
    </div>
    <a href="#0" class="cd-close-form">Закрыть</a>
  </div>
</div>
