<div class="modal fade show" style="display: block">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="height: 470px">
      <div class="modal-header">
        <h5 class="modal-title">Add new post</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <label>Image</label>
            <div class="input-group">
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile"
                       aria-describedby="inputGroupFileAddon04"
                       (change)="onFileSelected($event)">
                <label class="custom-file-label"
                       for="inputGroupFile">{{post.file == null ? 'Image' : post.file.name}}</label>
              </div>
            </div>
          </div>

<!--          <div class="form-group">-->
<!--          <label for="exampleInputTags">Tags</label>-->
<!--          <input name="title" type="text" class="form-control" [(ngModel)]="post.tags" id="exampleInputTags"-->
<!--                 aria-describedby="tagsHelp" placeholder="Enter tags" #tags="ngModel" required/>-->
<!--          <div [hidden]="tags.valid || tags.untouched" class="alert alert-danger">Pls set description</div>-->
<!--        </div>-->
          <div class="form-group">
            <label>Description</label>
            <textarea class="form-control" name="description" [(ngModel)]="post.description"
                      placeholder="Enter description" #description="ngModel">
 </textarea>
            <div [hidden]="description.valid || description.untouched" class="alert alert-danger">Pls set description
            </div>
          </div>
          <button type="button" class="btn btn-primary" (click)="addPost(description)">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
